%_regDetails {
    h3 {
        background-color: $or-blue-02;
        border-radius: 4px;
        padding: 10px;
        color: $or-white-01;
    }
    h4 {
        display: inline-block;
        margin: 0;
        width: 150px;
        vertical-align: top;
    }
    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 34%;

        li {
            text-align: left;

            &.guests ul{
                margin: 0;
                padding: 0;
                display: inline-block;
            }
        }

        &.pricingInfo {
            li {
                &.headings {
                    margin-bottom: 10px;

                    h4:first-child + h4 + h4{
                        width: auto;
                    }
                }

                &.last {
                    padding-left: 154px;
                    border-top: 1px solid #ccc;
                    margin-top: 10px;

                    span {
                        width: auto;
                    }
                }
                h4 {
                    width: 150px;
                }
                span {
                    display: inline-block;
                    width: 150px;
                }
            }
        }
    }

   .confirm {
        font-weight: bold;
        height: 40px;
        margin-top: 20px;
        width: 150px;
   }

   form {
       margin: 20px 0 0;
       padding: 0;
       border-top: 1px dashed #CCCCCC;
       width: 100%;
   }

   fieldset {
        margin: 0;
        padding: 0;
   }
    
   @media (max-width: 768px) {
    ul {
        width: 90%;
    }
   }
}