$or-blue-01: #0A325A;
$or-blue-02: #104E8B;
$or-gold-01: #FDD017;
$or-white-01: #ffffff;
$or-grey-01: #F2F2F2;
$or-grey-02: #D4D4D4;
$or-black-01: #101010;
$or-black-02: #202020;

@mixin boxShadow($hShadow, $vShadow, $blur: "", $spread: "", $color: "", $inset: ""){
	-moz-box-shadow: $hShadow $vShadow #{$blur} #{$spread} #{$color} #{$inset};
    -webkit-box-shadow: $hShadow $vShadow #{$blur} #{$spread} #{$color} #{$inset};
    box-shadow: $hShadow $vShadow #{$blur} #{$spread} #{$color} #{$inset};
}

%_menuIcon {
	em {

		@extend %_inlineBlock;

        border-bottom: 2px solid $or-gold-01;
        border-top: 2px solid $or-gold-01;
        height: 6px;
        position: relative;
        right: 5px;
        top: 2px;
        width: 20px;
        &:before{
        	@extend %_inlineBlock;

            border-bottom: 2px solid $or-gold-01;
            content: "";
            width: inherit;
        }
    }
}

%_inlineBlock {
	display: inline-block;
	zoom: 1;
	*display: inline;
}