@import "core";

.about {
    @include boxShadow(0, 0, 5px, 5px, rgba(0,0,0,0.15));
    background-color: $or-white-01;
    padding: 20px;
    border-radius: 4px; 
    margin-top: 50px;
    
    p {
        text-align: left;
    }
}
