@import "core";

html, body {
    height: auto;
    padding: 0;
    margin: 0;
    font-family: sans, sans-serif, serif, MS sans, MS serif;
    overflow-x: hidden;
    background-color: $or-grey-01;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

h1 { font-size: 30px;}
h2 { font-size: 28px;}
h3 { font-size: 24px;}
h4 { font-size: 22px;}
h5 { font-size: 18px;}
h6 { font-size: 16px;}

math {
    display:none;
}
img {
    max-width: 100%;
}
ul, ol {
    margin: 0 0 10px 25px;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
.page {
    position: relative;
    height: 100%;
}
.header-content-wrap {
    width: 95%;
    margin: 0 auto;
}
header {
    color: $or-blue-02;
}
img.logo {
    margin: auto auto 25px;
    display: block;
}
.scripture {
    color: $or-black-02;
    font-family: 'Great Vibes',script mt bold, script, cursive;
    margin-top: 25px;
    font-size: 20px;
}

@media (min-width: 603px) {
    html,body {
        overflow-x: scroll;
    }
}