@import "core";

html, body {
    height: auto;
    padding: 0;
    margin: 0;
    font-family: sans, sans-serif, serif, MS sans, MS serif;
    font-size: 100%;
    overflow-x: hidden;
    background-color: $or-grey-01;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

math {
    display:none;
}
img {
    max-width: 100%;
}
ul, ol {
    margin: 0 0 10px 25px;
    padding: 0;

    li {
        font-size: 100%;
    }
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
.page {
    position: relative;
    height: 100%;
}
.header-content-wrap {
    width: 95%;
    margin: 0 auto;
}
header {
    color: $or-blue-02;
    h1 {
        font-size: 1.6em;
        margin:0;
    }
}
img.logo {
    margin: auto auto 25px;
    display: block;
}
.scripture {
    color: $or-black-02;
    font-family: script mt bold, script, cursive;
    margin-top: 25px;
}

@media (min-width: 603px) {
    html,body {
        overflow-x: scroll;
    }
}