@import "core";

nav {
    background-color: $or-blue-01;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 25%;
    right: -200px;
    z-index: 999;
    width: 200px;
    font-size: 18px;

    ul {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            line-height: 50px;
            margin-bottom: 1px;

            a {
                color: $or-white-01;
                text-decoration: none;

                &:hover {
                    color: $or-white-01;
                }

                &:before {
                    font-size: 35px;
                    position: relative;
                    left: -4px;
                    top: 2px;
                }
            }

            &:nth-child(even) {
                background-color: $or-blue-02;
            }
        }
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 603px) {
    nav {
        
        @include boxShadow($hShadow: 0, $vShadow: 1px, $blur: 4px, $color: rgba(0,0,0,0.065));

        padding: 0;
        position: static;
        height: 0;
        background-color: $or-black-01;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        min-height: 40px;
        width: 100%;

        ul li{
            float: left;
            width: 16.666%;
            background: none;
            line-height: inherit;
            margin: 0;
            padding: 0;
            background-color: inheirt;

            &:first-child a {
                border-left: 0 none;
                border-radius: 3px 0 0 3px;
            }

            &:last-child a {
                border-radius: 0 3px 3px 0;
                border-right: 0 none;
            }

            &:nth-child(even) {
                background: none;
            }

            a {
                border-left: 1px solid rgba(0, 0, 0, 0.75);
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                padding: 10px 0 10px;
                color: $or-blue-02;
                text-decoration: none;
                text-shadow: 0 1px 0 $or-black-03;
                display: block;
                font-family: script mt bold, script, cursive;

                &:hover {
                    color: $or-blue-02;
                }
            }
        }
    }
}