@import "core";

.speakers {
    @include boxShadow(0, 0, 5px, 5px, rgba(0,0,0,0.15));
    background-color: $or-white-01;
    padding: 20px;
    border-radius: 4px; 
    margin-top: 50px;
    
    h2 {
        color: $or-blue-02;
        margin-top: 30px;
    }

    h3 {
        color: #555555;
    }
    img {
        float: left;
        margin-right: 10px;
        margin-top: 4px;
        width: 25%;

        &.current-special-music {
            margin-top: 0;
        }
    }
    p {
        text-align: left;
    }

    div {
        display: inline-block;
        width: 100%;
    }
    section {
        border-top: 1px dashed #ccc;
        text-align: left;
    }
}
