@import "core";

.menu-bar.mobile {
    @include boxShadow(0, 0, 5px, 5px, rgba(0,0,0,0.15), inset);
    
    height: 44px;
    background-color: $or-blue-02;
    color: $or-gold-01;
    
    span {
        @include boxShadow(0, 0, 5px, 5px, rgba(0,0,0,0.15), inset);

        float: right;
        background-color: $or-blue-01;
        padding: 0px 8px 4px 8px;
        cursor: pointer;
        border-radius: 2px;
        position: relative;
        top: 7px;
        right: 10px;

        &:before {
            font-size: 40px;
            line-height: 0;
            position: relative;
            top: 5px;
        }
    }
 }

@media (min-width: 603px) {
    .menu-bar.mobile { 
        display: none;
    }
}