<div class="faq">
    <p>Below is a list of the most commonly asked questions and answers.</p>
    <section>
        <ul>
            <li>
                <span>Question</span>
                <p>Why?</p>
            </li>
            <li>
                <span>Answer</span>
                <p>Because!!!</p>                
            </li>
        </ul>
    </section>
</div>