@using System;
@using System.IO;
@using System.Text;
@using System.Text.RegularExpressions;
@using System.Net;
@using System.Web;
@using System.Collections.Specialized;
@using System.Dynamic;
@using SD = Simple.Data;
@{
    if (IsPost) {
        //Post back to either sandbox or live
        string strSandboxPayInfoUrl = App.SandboxPayInfoUrl;
        string strSandboxPayAuthUrl = App.SandboxPayAuthUrl;
        //string strLive = "https://www.paypal.com/cgi-bin/webscr";
    
        NameValueCollection postedForm = new NameValueCollection(Request.Form); //Create new name/value collection from form data

        //Remove any unnessary fields before sending data to PayPal
        postedForm.Remove("num-att-two-day");
        postedForm.Remove("num-att-two-day-price");
        postedForm.Remove("num-att-one-day");
        postedForm.Remove("num-att-one-day-price");
        postedForm.Remove("num-att-underage");
        postedForm.Remove("num-att-underage-price");
        postedForm.Remove("num-golfing");
        postedForm.Remove("num-golfing-price");
        postedForm.Remove("num-paintballing");
        postedForm.Remove("num-paintballing-price");
        postedForm.Remove("num-fishing");
        postedForm.Remove("num-fishing-price");
       
        //Add required data sensitive fields before sending data to PayPal
        postedForm.Set("USER", App.PayPalUser);
        postedForm.Set("PWD", App.PayPalPassword);
        postedForm.Set("SIGNATURE", App.PayPalSignature);
        postedForm.Set("METHOD", App.ExpressCheckoutMethod);
        postedForm.Set("VERSION", App.ExpressCheckoutVersion);
        postedForm.Set("PAYMENTREQUEST_0_PAYMENTACTION", App.ExpressCheckoutPaymentAction);
        postedForm.Set("PAYMENTREQUEST_0_AMT", "19.95");
        postedForm.Set("PAYMENTREQUEST_0_CURRENCYCODE", App.ExpressCheckoutCurrencyCode);
        postedForm.Set("RETURNURL", App.ExpressCheckoutReturnUrl);
        postedForm.Set("CANCELURL", App.ExpressCheckoutCancelUrl);

        //Build query string from name/value collection using StringBuilder
        var sb = new StringBuilder();
        var postedFormItems = postedForm.AllKeys.SelectMany(postedForm.GetValues, (k, v) => new {key = k, value = v});

        foreach(var item in postedFormItems) {
            sb.AppendFormat("{0}={1}&", item.key, HttpUtility.UrlEncode(item.value.ToString()));
        }

        sb.Remove(sb.Length - 1, 1); // remove the last '&'

        //Do Post
        DoPostPayPalData doPostToPayPal = new DoPostPayPalData(sb.ToString(), App.SandboxPayInfoUrl);
        string response = doPostToPayPal.Post();

        NameValueCollection responseObj = HttpUtility.ParseQueryString(response); //Parse server response

        if (responseObj.Get("ACK") == "Success") {
            string token = responseObj.Get("TOKEN");
            string expressCheckoutCmd = "_express-checkout";

            try { 
               Regex regexObj = new Regex(@"[^\d]");
               var timeStamp = regexObj.Replace(responseObj.Get("TIMESTAMP"), "");

               dynamic reg = new ExpandoObject();
               reg.ID = timeStamp;
               reg.Attendee = Request["name"];

               dynamic regDetails = new ExpandoObject();
               regDetails.ID = timeStamp;
               regDetails.Adress = Request["address"];
               regDetails.City = Request["city"];
               regDetails.State = Request["state"];
               regDetails.Zip = Request["zip"];
               regDetails.Phone_Num = Request["phone"];
               regDetails.Church = Request["church-atteding"];
               regDetails.Attendees_Guests = Request["guest"];
               regDetails.Num_Attending_Two_Days = Request["num-att-two-day"];
               regDetails.Num_Attending_One_Day = Request["num-att-one-day"];
               regDetails.Num_12andYounder_Attending = Request["num-att-underage"];
               regDetails.Num_Golfing = Request["num-golfing"];
               regDetails.Num_Paintballing = Request["num-paintballing"];
               regDetails.Num_Fishing = Request["num-fishing"];
               regDetails.Total_Paid = Request["total"];

               var db = SD.Database.OpenFile(Server.MapPath("~/App_Data/COGMOR.sdf"));

               db.Registration.Insert(reg);
               db.RegistrationDetails.Insert(regDetails);

               db.Close();

            } catch (Exception ex) {
                var errMsg = ex.Message;
                var stackTrace = ex.StackTrace;
                @errMsg;
                @stackTrace;
            }
           
            //Response.Redirect(strSandboxPayAuthUrl + "?cmd=" + expressCheckoutCmd + "&token=" + token);
        } else {
            <text>The server could not process your request. If you see this message please contact us at info@ohiomensoxroast.org so that we can fix this issue quickly.</text>
        }
    }
    //http://www.netomatix.com/httppostdata.aspx
    //http://codesamplez.com/programming/http-request-c-sharp
}

<form action="" method="post">
    <fieldset id="generalInfo">
        <label for="name">Your Name</label>
        <input id="name" type="text" name="name" placeholder="Please enter your name" required/>
        <label for="address">Address</label>
        <input id="address" type="text" name="address" placeholder="Please enter your address" required/>
        <div class="csz-fields">
            <label for="city">City</label>
            <input id="city" type="text" name="city" placeholder="Please enter your city" required/>
            <label for="state">State</label>
            <select id="state">
                <option value="OH">Ohio</option>
            </select>
            <label for="zip">Zip</label>
            <input id="zip" type="text" name="zip" placeholder="Please enter your zip code" required/>
        </div>
        <label for="phone">Phone Number</label>
        <input id="phone" type="text" name="phone" placeholder="Please enter your phone number"/>
        <label for="church-atteding">Church Attending</label>
        <input id="church-atteding" type="text" name="church-atteding" placeholder="Please enter the name of the church you attend"/>
        <label for="guest">Name of Others Attending (Please DO NOT list yourself!)</label>
        <input id="guest" type="text" name="guest" placeholder="Please type in the name of your guest that will be attending"/>
    </fieldset>
    <fieldset id="eventInfo">
        <div>
            <label for="num-att-two-day">Number attending Friday/Saturday</label>
            <input id="num-att-two-day" type="number" name="num-att-two-day" class="qty" value="0" data-bind='value: numAttTwoDays, valueUpdate: "afterkeydown"'/>
            <input id="num-att-two-day-price" type="hidden" name="num-att-two-day-price" value="65" data-bind='value: numAttTwoDaysPrice'/>
            <span>X $65 =</span><output name="num-att-two-day-output" data-bind="text: numAttTwoDaysOutput"></output>
        </div>
        <div>
            <label for="num-att-one-day">Number attending one day only</label>
            <input id="num-att-one-day" type="number" name="num-att-one-day" class="qty" value="0"/>
            <input id="num-att-one-day-price" type="hidden" name="num-att-one-day-price" value="35"/>
            <span>X $35 =</span><output name="num-att-one-day-output" for="num-att-one-day num-att-one-day-price"></output>
        </div>
        <div>
            <label for="num-att-underage">Number attending 12yrs old or younger</label>
            <input id="num-att-underage" type="number" name="num-att-underage" class="qty" value="0"/>
            <input id="num-att-underage-price" type="hidden" name="num-att-underage-price" value="25"/>
            <span>X $25 =</span><output name="num-att-underage-ouput" for="num-att-underage num-att-underage-price"></output>
        </div>
        <div>
            <label for="num-golfing">Number playing golf</label>
            <input id="num-golfing" type="number" name="num-golfing" class="qty" value="0"/>
            <input id="num-golfing-price" type="hidden" name="num-golfing-price" value="45"/>
            <span>X $45 =</span><output name="num-golfing-ouput" for="num-golfing num-golfing-price"></output>
        </div>
        <div>
            <label for="num-paintballing">Number paintballing</label>
            <input id="num-paintballing" type="number" name="num-paintballing" class="qty" value="0"/>
            <input id="num-paintballing-price" type="hidden" name="num-paintballing-price" value="5"/>
            <span>X $5 =</span><output name="num-paintballing-ouput" for="num-paintballing num-paintballing-price"></output>
        </div>
        <div>
            <label for="num-fishing">Number fishing</label>
            <input id="num-fishing" type="number" name="num-fishing" class="qty" value="0"/>
            <input id="num-fishing-price" type="hidden" name="num-fishing-price" value="25"/>
            <span>X $25 =</span><output name="num-fishing-output" for="num-fishing num-fishing-price"></output>
        </div>
        <label for="total">Total</label>
        <output name="x" for="x"></output>
    </fieldset>
    <input type=submit class="submit" value=""/>
</form>
