@using System;
@using System.IO;
@using System.Text;
@using System.Text.RegularExpressions;
@using System.Net;
@using System.Web;
@using System.Collections.Specialized;
@using System.Dynamic;
@using SD = Simple.Data;
@using System.Web.Mvc;
@using System.Web.Helpers;
@{
    bool gotExpressCheckoutDetails = false;
    bool didDoExpressCheckoutPayment = false;

    string token = Request["token"];
    string payerId = Request["PayerId"];

    //build action
    var strGetExpressCheckoutDetails = new StringBuilder();

    strGetExpressCheckoutDetails.Append("METHOD=");
    strGetExpressCheckoutDetails.Append(App.GetExpressCheckoutDetailsMethod);
    strGetExpressCheckoutDetails.Append("&VERSION=");
    strGetExpressCheckoutDetails.Append(App.ExpressCheckoutVersion);
    strGetExpressCheckoutDetails.Append("&USER=");
    strGetExpressCheckoutDetails.Append(App.PayPalUser);
    strGetExpressCheckoutDetails.Append("&PWD=");
    strGetExpressCheckoutDetails.Append(App.PayPalPassword);
    strGetExpressCheckoutDetails.Append("&SIGNATURE=");
    strGetExpressCheckoutDetails.Append(App.PayPalSignature);
    strGetExpressCheckoutDetails.Append("&TOKEN=");
    strGetExpressCheckoutDetails.Append(token);
    
    //Do Post
    DoPostPayPalData doPostToForGetDetails = new DoPostPayPalData(strGetExpressCheckoutDetails.ToString(), App.ProdPayInfoUrl);
    string getDetatailsResponse = doPostToForGetDetails.Post();

    NameValueCollection getDetatailsResponseObj = HttpUtility.ParseQueryString(getDetatailsResponse); //Parse server response

    if (getDetatailsResponseObj.Get("ACK") == "Success") {
        Regex regexObj = new Regex(@"[^\d]");

        token = getDetatailsResponseObj.Get("TOKEN");
        gotExpressCheckoutDetails = true;
       

        @* App.ExpressCheckoutToken = getDetatailsResponseObj.Get("TOKEN");
  
        token = App.ExpressCheckoutToken; *@
            
        //build action
        var strDoExpressCheckoutPayment = new StringBuilder();
        
        strDoExpressCheckoutPayment.Append("METHOD=");
        strDoExpressCheckoutPayment.Append(App.DoExpressCheckoutPaymentMethod);
        strDoExpressCheckoutPayment.Append("&VERSION=");
        strDoExpressCheckoutPayment.Append(App.ExpressCheckoutVersion);
        strDoExpressCheckoutPayment.Append("&USER=");
        strDoExpressCheckoutPayment.Append(App.PayPalUser);
        strDoExpressCheckoutPayment.Append("&PWD=");
        strDoExpressCheckoutPayment.Append(App.PayPalPassword);
        strDoExpressCheckoutPayment.Append("&SIGNATURE=");
        strDoExpressCheckoutPayment.Append(App.PayPalSignature);
        strDoExpressCheckoutPayment.Append("&TOKEN=");
        strDoExpressCheckoutPayment.Append(token);
        strDoExpressCheckoutPayment.Append("&PAYERID=");
        strDoExpressCheckoutPayment.Append(payerId);
        strDoExpressCheckoutPayment.Append("&PAYMENTREQUEST_0_PAYMENTACTION=");
        strDoExpressCheckoutPayment.Append(App.ExpressCheckoutPaymentAction);
        strDoExpressCheckoutPayment.Append("&PAYMENTREQUEST_0_CURRENCYCODE=");
        strDoExpressCheckoutPayment.Append(App.ExpressCheckoutCurrencyCode);
        strDoExpressCheckoutPayment.Append("&PAYMENTREQUEST_0_AMT=");
        strDoExpressCheckoutPayment.Append(getDetatailsResponseObj.Get("PAYMENTREQUEST_0_AMT"));
        strDoExpressCheckoutPayment.Append("&PAYMENTREQUEST_0_ITEMAMT=");
        strDoExpressCheckoutPayment.Append(getDetatailsResponseObj.Get("PAYMENTREQUEST_0_ITEMAMT"));

        //Do Post
        DoPostPayPalData doPostToComfirmPayment = new DoPostPayPalData(strDoExpressCheckoutPayment.ToString(), App.ProdPayInfoUrl);
        string confirmPaymentResponse = doPostToComfirmPayment.Post();
            
        NameValueCollection confirmPaymentResponseObj = HttpUtility.ParseQueryString(confirmPaymentResponse); //Parse server response

        if (confirmPaymentResponseObj.Get("ACK").Contains("Success")) {
            didDoExpressCheckoutPayment = true;
        } else {
            <p class="error">
                @App.UnsureIfPayPalProcessedPayment
            </p>
        }
    } else {
        <p class="error">
            @App.ServerCantProcessRequest
        </p>
    }
}
<div id="registration-details" class="registration-details">
    @if (didDoExpressCheckoutPayment == true) {
        <p class="success">
            @App.ThankYouForYourRegistration
        </p>
    }
</div>