 <footer>
    <section class="links">
        <div class="cat-title">Links</div>
        @RenderPage("~/_SiteLinks.cshtml")
    </section>
    <section class="contact-method">
        <div class="cat-title">Connect With Us</div>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Contact Us</a></li>
      	</ul>
    </section>
</footer>