<header>
    <img src="img/logo.png" alt="Church of God Men's Ox Roast and Retreat" class="logo">
    <h1>"GOD OF OUR STORMS"</h1>
    <h2>September 6-7, 2013</h2>
    <nav data-bind='slideNavVisiable: $data.displayMenu'>
        @RenderPage("~/_SiteLinks.cshtml")
    </nav>
</header>
