<header>
    <img src="img/logo.png" alt="Ohio Men's Ox Roast and Retreat" class="logo">
    <h2>What do you want on your tomb stone?</h2>
    <h3>September 11-12, 2015</h3>
    <nav data-bind='slideNavVisiable: $data.displayMenu'>
        @RenderPage("~/_SiteLinks.cshtml")
    </nav>
</header>
