@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

@section css {
    <link href="css/stylesheets/menu-bar.min.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/nav.min.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/contact-us.min.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="contact-us">
    @RenderPage("~/Contact Us/EmailForm.cshtml")
</div>
