@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

@section css {
    <link href="css/stylesheets/menu-bar.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/nav.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
}

@section scripture {
    <p class="scripture">
        "Trust in the LORD with all your heart; don’t rely on your own intelligence.
        <br/>
        Know him in all your paths, and he will keep your ways straight."
        <br />
        ~ Proverbs 3:5-6
    </p>
}

@RenderPage("~/Contact Us/EmailForm.cshtml")
