@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

@section css {
    <link href="css/site.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<section class="contact-us">
    @RenderPage("~/Contact Us/EmailForm.cshtml")
</section>
