@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section css {
    <link href="css/stylesheets/menu-bar.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/nav.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/home.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
}

<div class="about">
    <p>
        The Church of God Men's Ox Roast is a two day event, in which Chirstian men, ages 12 and up, can gather in fellowship
        with one another. The Ox Roast has many different activities that both younger and older
        men can enjoy. such as golfing and cornhole. Meals are provided all weekend, including an entertaining pancake breakfast
        on day two, in addition to the ox roast itself. You will get to hear a great speaker, different every year, speak about life as 
        a Christian man in today's society. After the speaker, take a break and listen to some wonderful music and gather around the fire
        to share in faith with others. Before the weekend is through, don't forget to stop by the merchandise tent to get a shirt to remember the weekend,
        or find a book that will inspire you in the year to come. The Church of God Men's Ox Roast is a time to grow in your faith and
        meet other Christian's like yourself.
        
    </p>
    <p>
        This event is held at Camp Marengo just north of Columbus, Ohio. There is plenty of space for both RV's and tents, but
        if you don't feal like a traditional camping experience, Camp Marango does have some lodging as well. 
    </p>
    <iframe width="420" height="315" src="http://www.youtube.com/embed/j-vBp5pwJr0" frameborder="0" allowfullscreen></iframe>
    <section>
        <div>
            <h3>Speaker</h3>
            <span>Richard Mansfield</span>
            <img src="/img/small_richardmansfield.jpg" alt="Richard Mansfield" class="speaker-img"/>
        </div>
        <div>
            <h3>Music By</h3>
            <span>This Hope</span>
            <img src="/img/This_Hope.jpg" alt="This Hope" class="music-img"/>
        </div>
    </section> 
</div>