@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registration";
}

@section css {
    <link href="css/min/site.min.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/multipleBindings.js"></script>
    <script src="js/menubar.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="js/site/registration.js"></script>
    <script src="js/startApp.js"></script>
    @*<script src="js/registration.js"></script>
    <script src="js/guestInputs.js"></script>*@
}

<section class="registration">
    @RenderPage("~/Register/RegistrationForm.cshtml")
</section>
