@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registration";
}

@section css {
    <link href="css/stylesheets/menu-bar.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/nav.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/registration.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
    <script src="js/registration.js"></script>
    <script src="js/appendGuestInputs.js"></script>
    <script src="js/removeGuestInputs.js"></script>
    <script src="js/numGuestLimit.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> 
}

<div class="registration">
    @RenderPage("~/Register/RegistrationForm.cshtml")
</div>
