@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registration";
}

@section css {
    <link href="css/min/site.min.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/multipleBindings.js"></script>
    <script src="js/menubar.js"></script>
    <script src="js/registration.js"></script>
    <script src="js/guestInputs.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<section class="registration">
    @RenderPage("~/Register/RegistrationForm.cshtml")
    @*<p class="coming-soon">
        Registration for the 2015 Ohio Men's Ox Roast and Retreat coming soon!
    </p>*@
</section>
