@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registration";
}

@section css {
    <link href="css/min/menu-bar.min.css" rel="stylesheet" type="text/css" />
    <link href="css/min/nav.min.css" rel="stylesheet" type="text/css" />
    <link href="css/min/registration.min.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
}

<div class="registration">
    <p>Sorry, we could not process your request at this time. Please try again later.</p>
</div>
