@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registration";
}

@section css {
    <link href="css/stylesheets/menu-bar.min.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/nav.min.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/registration.min.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/multipleBindings.js"></script>
    <script src="js/menubar.js"></script>
    <script src="js/registration.js"></script>
    <script src="js/guestInputs.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="registration">
    <p> 2014 Registration Coming Soon...</p>
</div>
