@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registration";
}

@section css {
    <link href="css/min/site.min.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
}

<section class="registration">
    <p class="error">Sorry, we could not process your request at this time. Please try again later.</p>
</section>
