@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Speakers";
}

@section css {
    <link href="css/stylesheets/menu-bar.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/nav.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/speakers.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
}

<div class="speakers">
    <h2>2013 Speaker</h2>
    <img src="img/small_richardmansfield.jpg" alt="Richard Mansfield" class="current-speaker"/>
    <p>
        Richard Mansfield is the Senior Pastor of the New Beginnings Church of God in Albuquerque, New Mexico 
        where he has served from July 1982 to December 1995 and from July 1999 to the present. 
        A vibrant and much sought-after speaker across the nation, he has provided leadership for a number of 
        Church of God churches and church organizations throughout the southwestern US, as well as national leadership 
        to a variety of ministries, including Concilio, the National Board of Christian Education, 
        and the International Convention of the Church of God. A pastor, television speaker, chaplain, and drug counselor, 
        Richard comes with a wealth of experience and stories to encourage and challenge.   
    </p>
    <h2>2013 Music/Workship</h2>
    <img src="img/This_Hope.jpg" alt="This Hope" class="current-special-music"/>
    <p>
        "This Hope" is a five member male group whose goal is to glorify God through music.
        They have been singing professionally since 1996, and have traveled throughout the United States and overseas.
        "This Hope" sings a unique blend of a cappella and accompanied music. People of all ages will enjoy
        the intricate harmony and fun style of their music.
    </p>
    <section>
        <h2>Future Speakers/Music</h2>
        <h3>2014</h3>
        <ul>
            <li>
                Speaker: Jeff Perkins
            </li>
            <li>
                Music/Worship: Todd Braschler
            </li>
        </ul>
    </section>
</div>