@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Speakers";
}

@section css {
    <link href="css/site.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
}
<div class="speakers">
    <section>
        <div>
            <h2>2015 Speaker</h2>
            <img src="img/speakers/2015/steve_chiles.jpg" alt="Steve Chiles" class="current-speaker">
            <p>
                Steve Chiles is the Senior Pastor at the Shartel Church of God in Oklahoma City.
                He has served in ministry for 33 years as a pastor and also as a Church Consultant and Church Health Coach.
                A graduate of Mid-America Christian University, Steve is a dynamic communicator with a gifted ability to inspire and challenge.
                He is a highly sought after speaker and conference leader for church growth and leadership development workshops, youth conventions, revivals and campmeetings.
                Writing has also been part of Steve's way to share his passion about God's ability to grow churches and raise up leaders for ministry. He has written several articles for Christian publications.
            </p>
        </div>
        <div>
            <h2>2015 Music/Worship</h2>
            <img src="img/placeholder-person.png" alt="Camp Band" class="current-special-music"/>
            <p>
                Camp Band
            </p>
        </div>
    </section>
    <section>
        <h2>Future Speakers/Music</h2>
        <h3>2016</h3>
        <ul>
            <li>
                Dates: September 9th & 10th
            </li>
            <li>
                Speaker: ?
            </li>
            <li>
                Music/Worship: ?
            </li>
        </ul>
    </section>
</div>