@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Speakers";
}

@section css {
    <link href="css/stylesheets/menu-bar.min.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/nav.min.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets/speakers.min.css" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="js/menubar.js"></script>
}

<div class="speakers">
    <div>
        <h2>2014 Speaker</h2>
        <img src="img/speakers/2014/ken_johnson.jpg" alt="Speaker Unknown" class="current-speaker">
        <p>
            Ken Johnson's many years of faithful ministry and service, has allowed him to become a successful nationally known speaker to schools, organizations, corporations and churches. 
            His motivation to speak and the content that he shares with all audiences, tells you who this man really is and why others are inspired by his example.
        </p>
        <p>
            Ken Johnson earned his B.S. in education, but a knee injury kept him from pursuing his dream of becoming a pro-football player. 
            After that, Ken chose to serve his country in the military and as a police officer in Tulsa for 6 yrs.
            It was during those years that Ken developed a deep compassion for the plight of the youth in this country, many who are in hopeless situations like he was as a child.
        </p>
        <p>
            Ken's choices, though imperfect at times, helped him to become a man of Christ. 
            The choice to follow Christ led Ken to resign his commission, leave the police department and move to Indianapolis to work for the Fellowship of Christian Athletes. 
            Soon after, he became the Protestant Chaplain of the Indianapolis Colts, a position he still holds today.
        </p>
        <p>To see more about Ken Johnson (Indianapolis Colts Chaplain) ministries, go to <a href="http://www.kenjohnson.org">www.kenjohnson.org</a></p>
    </div>
    <div>
        <h2>2014 Music/Worship</h2>
        <img src="img/music/2014/todd_brashler.jpg" alt="Todd Brashler" class="current-special-music"/>
        <p>
            Todd Brashler started preforming music in Branson, MO with his family at the Braschler Music Show.
            Todd performed with his parents, brother, and sister in a band from 1987-89 and at the Brashler Music Show for 24 years.
            He later would feel called to begin a full-time ministry as a paster.
        </p>
        <p>
            Todd Braschler started as a full-time Christian Recording Artist and retreat speaker in 2001. 
            He currently travels over 80,000 miles a year and participates in close to 40 retreats per year for 
            men, couples, pastors/leaders, and worship ministries.
        </p>
        <p>
            To see more about Todd Brashler's ministries, go to <a href="http://www.toddbraschler.com">www.toddbraschler.com</a>.
        </p>
    </div>
    <section>
        <h2>Future Speakers/Music</h2>
        <h3>2015</h3>
        <ul>
            <li>
                Dates: September 11 & 12
            </li>
            <li>
                Speaker: ?
            </li>
            <li>
                Music/Worship: Camp Band
            </li>
        </ul>
    </section>
</div>