@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "StyleGuide";
}

@section css {
	<link href="css/site.css" rel="stylesheet" type="text/css" />
}

@section js {
}

<div class="">
	Testing...
</div>