@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "StyleGuide";
}

@section css {
	<link href="css/site.css" rel="stylesheet" type="text/css" />
}

@section js {
	<script src="js/menubar.js"></script>
}

<div class="section">
	Testing...
</div>