<h3>Registration Information</h3>
<ul class="generalInfo">
    <li>
        <h4>Confirmation #:</h4>
        <span>{{confirmationId}}</span>
    </li>
    <li>
	    <h4>First Name:</h4>
	    <span>{{firstname}}</span>
    </li>
    <li>
        <h4>Last Name:</h4>
        <span>{{lastname}}</span>
    </li>
    <li>
        <h4>Phone #:</h4>
        <span>{{PAYMENTREQUEST_0_SHIPTOPHONENUM}}</span>
    </li>
    <li>
	    <h4>Email:</h4>
	    <span>{{EMAIL}}</span>
    </li>
   {{#if church-atteding}}
        <li>
	        <h4>Church Attending:</h4>
	        <span>{{church-atteding}}</span>
        </li>
    {{/if}}

    <li>
        <h4>Event Pass:</h4>
        <span>{{eventPass}}</span>
    </li>

    {{#if activities}}
        <li>
            <h4>Activities:</h4>
            {{#each activities}}
                <span>{{this}}</span>
            {{/each}}
        </li>
    {{/if}}
</ul>

<h3>Guest Information</h3>
<ul class="guestInfo">
    {{#each guests}}
        <li>
            <h4>First Name:</h4>
            <span>{{firstname}}</span>
        </li>
        <li>
            <h4>Last Name:</h4>
            <span>{{lastname}}</span>
        </li>
        <li>
            <h4>Event Pass:</h4>
            <span>{{eventPassType}}</span>
        </li>
        <li>
            <h4>Activities:</h4>
            <span>{{activities}}</span>
        </li>
        <li class="total">
            <h4>Total Cost:</h4>
            <span>&#36;{{totalCost}}</span>
        </li>
    {{/each}}
</ul>

<p>&#36;{{PAYMENTREQUEST_0_AMT}}</p>
