<h4>Guest Added</h4>
<ul>
	{{#each guest}}
	    <li>
	    	<dl>
	    		<dt>First Name:</dt>
	    		<dd class="firstName">{{firstname}}</dd>

	    		<dt>Last Name:</dt>
	    		<dd class="lastName">{{lastname}}</dd>

	    		<dt>Pass Type:</dt>
	    		<dd class="eventPassType">{{eventPassType}}</dd>
				
	    		<dt>Activities:</dt>
	    		<dd class="eventPassType">{{activities}}</dd>

	    		<dt>Guest Total:</dt>
	    		<dd class="guestCost">${{totalCost}}</dd>
	    	</dl>
	        <input type="button" value="Remove" class="remove-guest"/>
	    </li>
	{{/each}}
</ul>