/* line 3, ../sass/contact-us.scss */
.contact-us {
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) ;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) ;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) ;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  margin-top: 50px;
}
/* line 11, ../sass/contact-us.scss */
.contact-us form fieldset {
  border: none;
}
/* line 15, ../sass/contact-us.scss */
.contact-us form input, .contact-us form textarea, .contact-us form label {
  display: block;
  width: 100%;
  color: #555555;
}
/* line 21, ../sass/contact-us.scss */
.contact-us form input, .contact-us form textarea {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  padding: 4px 6px;
  max-width: 100%;
}
/* line 28, ../sass/contact-us.scss */
.contact-us form input:focus, .contact-us form textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 35, ../sass/contact-us.scss */
.contact-us form input {
  height: 20px;
  line-height: 20px;
}
/* line 40, ../sass/contact-us.scss */
.contact-us form label {
  text-align: left;
}
