/* line 3, ../sass/home.scss */
.about {
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) ;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) ;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) ;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  margin-top: 50px;
}
/* line 10, ../sass/home.scss */
.about p {
  text-align: left;
}
/* line 14, ../sass/home.scss */
.about a {
  text-decoration: none;
}
/* line 17, ../sass/home.scss */
.about section {
  width: 100%;
  margin: 25px 0;
  border-top: 1px dashed #ccc;
  padding-top: 25px;
}
/* line 23, ../sass/home.scss */
.about section div {
  width: 45%;
  display: inline-block;
}
/* line 27, ../sass/home.scss */
.about section div:first-child {
  float: left;
}
/* line 30, ../sass/home.scss */
.about section div:first-child img {
  width: 50%;
}
/* line 35, ../sass/home.scss */
.about section div h3 {
  color: #104e8b;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 20px;
}
/* line 43, ../sass/home.scss */
.about section div span {
  display: block;
  color: #555555;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
