/* line 17, ../sass/core.scss */
.menu-bar.mobile em {
  border-bottom: 2px solid #fdd017;
  border-top: 2px solid #fdd017;
  height: 6px;
  position: relative;
  right: 5px;
  top: 2px;
  width: 20px;
  margin-bottom: 5px;
}
/* line 29, ../sass/core.scss */
.menu-bar.mobile em:before {
  border-bottom: 2px solid #fdd017;
  content: "";
  width: inherit;
}

/* line 39, ../sass/core.scss */
.menu-bar.mobile em, .menu-bar.mobile em:before {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 3, ../sass/menu-bar.scss */
.menu-bar.mobile {
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) inset;
  height: 40px;
  background-color: #104e8b;
  color: #fdd017;
  padding: 2% 5% 0 0;
}
/* line 12, ../sass/menu-bar.scss */
.menu-bar.mobile span {
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) inset;
  float: right;
  background-color: #0a325a;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 2px;
}

@media (min-width: 768px) {
  /* line 26, ../sass/menu-bar.scss */
  .menu-bar.mobile {
    display: none;
  }
}
