@font-face {
  font-family: 'entypo';
  src: url("../../fonts/entypo.eot");
  src: url("../../fonts/entypo.woff") format("woff"), url("../../fonts/entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'entypo-social';
  src: url("../../fonts/entypo-social.eot");
  src: url("../../fonts/entypo-social.woff") format("woff"), url("../../fonts/entypo-social.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_icons.scss */
[data-icon-phone]:before {
  font-family: 'entypo';
  content: '\1F4DE';
}

/* line 2, ../sass/_icons.scss */
[data-icon-mobile]:before {
  font-family: 'entypo';
  content: '\1F4F1';
}

/* line 3, ../sass/_icons.scss */
[data-icon-mouse]:before {
  font-family: 'entypo';
  content: '\E789';
}

/* line 4, ../sass/_icons.scss */
[data-icon-address]:before {
  font-family: 'entypo';
  content: '\E723';
}

/* line 5, ../sass/_icons.scss */
[data-icon-mail]:before {
  font-family: 'entypo';
  content: '\2709';
}

/* line 6, ../sass/_icons.scss */
[data-icon-paper-plane]:before {
  font-family: 'entypo';
  content: '\1F53F';
}

/* line 7, ../sass/_icons.scss */
[data-icon-pencil]:before {
  font-family: 'entypo';
  content: '\270E';
}

/* line 8, ../sass/_icons.scss */
[data-icon-feather]:before {
  font-family: 'entypo';
  content: '\2712';
}

/* line 9, ../sass/_icons.scss */
[data-icon-attach]:before {
  font-family: 'entypo';
  content: '\1F4CE';
}

/* line 10, ../sass/_icons.scss */
[data-icon-inbox]:before {
  font-family: 'entypo';
  content: '\E777';
}

/* line 11, ../sass/_icons.scss */
[data-icon-reply]:before {
  font-family: 'entypo';
  content: '\E712';
}

/* line 12, ../sass/_icons.scss */
[data-icon-reply-all]:before {
  font-family: 'entypo';
  content: '\E713';
}

/* line 13, ../sass/_icons.scss */
[data-icon-forward]:before {
  font-family: 'entypo';
  content: '\27A6';
}

/* line 14, ../sass/_icons.scss */
[data-icon-user]:before {
  font-family: 'entypo';
  content: '\1F464';
}

/* line 15, ../sass/_icons.scss */
[data-icon-users]:before {
  font-family: 'entypo';
  content: '\1F465';
}

/* line 16, ../sass/_icons.scss */
[data-icon-add-user]:before {
  font-family: 'entypo';
  content: '\E700';
}

/* line 17, ../sass/_icons.scss */
[data-icon-vcard]:before {
  font-family: 'entypo';
  content: '\E722';
}

/* line 18, ../sass/_icons.scss */
[data-icon-export]:before {
  font-family: 'entypo';
  content: '\E715';
}

/* line 19, ../sass/_icons.scss */
[data-icon-location]:before {
  font-family: 'entypo';
  content: '\E724';
}

/* line 20, ../sass/_icons.scss */
[data-icon-map]:before {
  font-family: 'entypo';
  content: '\E727';
}

/* line 21, ../sass/_icons.scss */
[data-icon-compass]:before {
  font-family: 'entypo';
  content: '\E728';
}

/* line 22, ../sass/_icons.scss */
[data-icon-direction]:before {
  font-family: 'entypo';
  content: '\27A2';
}

/* line 23, ../sass/_icons.scss */
[data-icon-hair-cross]:before {
  font-family: 'entypo';
  content: '\1F3AF';
}

/* line 24, ../sass/_icons.scss */
[data-icon-share]:before {
  font-family: 'entypo';
  content: '\E73C';
}

/* line 25, ../sass/_icons.scss */
[data-icon-shareable]:before {
  font-family: 'entypo';
  content: '\E73E';
}

/* line 26, ../sass/_icons.scss */
[data-icon-heart]:before {
  font-family: 'entypo';
  content: '\2665';
}

/* line 27, ../sass/_icons.scss */
[data-icon-heart-empty]:before {
  font-family: 'entypo';
  content: '\2661';
}

/* line 28, ../sass/_icons.scss */
[data-icon-star]:before {
  font-family: 'entypo';
  content: '\2605';
}

/* line 29, ../sass/_icons.scss */
[data-icon-star-empty]:before {
  font-family: 'entypo';
  content: '\2606';
}

/* line 30, ../sass/_icons.scss */
[data-icon-thumbs-up]:before {
  font-family: 'entypo';
  content: '\1F44D';
}

/* line 31, ../sass/_icons.scss */
[data-icon-thumbs-down]:before {
  font-family: 'entypo';
  content: '\1F44E';
}

/* line 32, ../sass/_icons.scss */
[data-icon-chat]:before {
  font-family: 'entypo';
  content: '\E720';
}

/* line 33, ../sass/_icons.scss */
[data-icon-comment]:before {
  font-family: 'entypo';
  content: '\E718';
}

/* line 34, ../sass/_icons.scss */
[data-icon-quote]:before {
  font-family: 'entypo';
  content: '\275E';
}

/* line 35, ../sass/_icons.scss */
[data-icon-home]:before {
  font-family: 'entypo';
  content: '\2302';
}

/* line 36, ../sass/_icons.scss */
[data-icon-popup]:before {
  font-family: 'entypo';
  content: '\E74C';
}

/* line 37, ../sass/_icons.scss */
[data-icon-search]:before {
  font-family: 'entypo';
  content: '\1F50D';
}

/* line 38, ../sass/_icons.scss */
[data-icon-flashlight]:before {
  font-family: 'entypo';
  content: '\1F526';
}

/* line 39, ../sass/_icons.scss */
[data-icon-print]:before {
  font-family: 'entypo';
  content: '\E716';
}

/* line 40, ../sass/_icons.scss */
[data-icon-bell]:before {
  font-family: 'entypo';
  content: '\1F514';
}

/* line 41, ../sass/_icons.scss */
[data-icon-link]:before {
  font-family: 'entypo';
  content: '\1F517';
}

/* line 42, ../sass/_icons.scss */
[data-icon-flag]:before {
  font-family: 'entypo';
  content: '\2691';
}

/* line 43, ../sass/_icons.scss */
[data-icon-cog]:before {
  font-family: 'entypo';
  content: '\2699';
}

/* line 44, ../sass/_icons.scss */
[data-icon-tools]:before {
  font-family: 'entypo';
  content: '\2692';
}

/* line 45, ../sass/_icons.scss */
[data-icon-trophy]:before {
  font-family: 'entypo';
  content: '\1F3C6';
}

/* line 46, ../sass/_icons.scss */
[data-icon-tag]:before {
  font-family: 'entypo';
  content: '\E70C';
}

/* line 47, ../sass/_icons.scss */
[data-icon-camera]:before {
  font-family: 'entypo';
  content: '\1F4F7';
}

/* line 48, ../sass/_icons.scss */
[data-icon-megaphone]:before {
  font-family: 'entypo';
  content: '1F4E3';
}

/* line 49, ../sass/_icons.scss */
[data-icon-moon]:before {
  font-family: 'entypo';
  content: '\0045';
}

/* line 50, ../sass/_icons.scss */
[data-icon-palette]:before {
  font-family: 'entypo';
  content: '\1F3A8';
}

/* line 51, ../sass/_icons.scss */
[data-icon-leaf]:before {
  font-family: 'entypo';
  content: '\1F342';
}

/* line 52, ../sass/_icons.scss */
[data-icon-note]:before {
  font-family: 'entypo';
  content: '\266A';
}

/* line 53, ../sass/_icons.scss */
[data-icon-beamed-note]:before {
  font-family: 'entypo';
  content: '\266B';
}

/* line 54, ../sass/_icons.scss */
[data-icon-new]:before {
  font-family: 'entypo';
  content: '\1F4A5';
}

/* line 55, ../sass/_icons.scss */
[data-icon-graduation-cap]:before {
  font-family: 'entypo';
  content: '\1F393';
}

/* line 56, ../sass/_icons.scss */
[data-icon-book]:before {
  font-family: 'entypo';
  content: '\1F4D5';
}

/* line 57, ../sass/_icons.scss */
[data-icon-newspaper]:before {
  font-family: 'entypo';
  content: '\1F4F0';
}

/* line 58, ../sass/_icons.scss */
[data-icon-bag]:before {
  font-family: 'entypo';
  content: '\1F45C';
}

/* line 59, ../sass/_icons.scss */
[data-icon-airplane]:before {
  font-family: 'entypo';
  content: '\2708';
}

/* line 60, ../sass/_icons.scss */
[data-icon-lifebuoy]:before {
  font-family: 'entypo';
  content: '\E788';
}

/* line 61, ../sass/_icons.scss */
[data-icon-eye]:before {
  font-family: 'entypo';
  content: '\E70A';
}

/* line 62, ../sass/_icons.scss */
[data-icon-clock]:before {
  font-family: 'entypo';
  content: '\1F554';
}

/* line 63, ../sass/_icons.scss */
[data-icon-mic]:before {
  font-family: 'entypo';
  content: '\1F3A4';
}

/* line 64, ../sass/_icons.scss */
[data-icon-calendar]:before {
  font-family: 'entypo';
  content: '\1F4C5';
}

/* line 65, ../sass/_icons.scss */
[data-icon-flash]:before {
  font-family: 'entypo';
  content: '\26A1';
}

/* line 66, ../sass/_icons.scss */
[data-icon-thunder-cloud]:before {
  font-family: 'entypo';
  content: '\26C8';
}

/* line 67, ../sass/_icons.scss */
[data-icon-droplet]:before {
  font-family: 'entypo';
  content: '\1F4A7';
}

/* line 68, ../sass/_icons.scss */
[data-icon-cd]:before {
  font-family: 'entypo';
  content: '\1F4BF';
}

/* line 69, ../sass/_icons.scss */
[data-icon-briefcase]:before {
  font-family: 'entypo';
  content: '\1F4BC';
}

/* line 70, ../sass/_icons.scss */
[data-icon-air]:before {
  font-family: 'entypo';
  content: '\1F4A8';
}

/* line 71, ../sass/_icons.scss */
[data-icon-hourglass]:before {
  font-family: 'entypo';
  content: '\23F3';
}

/* line 72, ../sass/_icons.scss */
[data-icon-gauge]:before {
  font-family: 'entypo';
  content: '\1F6C7';
}

/* line 73, ../sass/_icons.scss */
[data-icon-language]:before {
  font-family: 'entypo';
  content: '\1F394';
}

/* line 74, ../sass/_icons.scss */
[data-icon-network]:before {
  font-family: 'entypo';
  content: '\E776';
}

/* line 75, ../sass/_icons.scss */
[data-icon-key]:before {
  font-family: 'entypo';
  content: '\1F511';
}

/* line 76, ../sass/_icons.scss */
[data-icon-battery]:before {
  font-family: 'entypo';
  content: '\1F50B';
}

/* line 77, ../sass/_icons.scss */
[data-icon-bucket]:before {
  font-family: 'entypo';
  content: '\1F4FE';
}

/* line 78, ../sass/_icons.scss */
[data-icon-magnet]:before {
  font-family: 'entypo';
  content: '\E7A1';
}

/* line 79, ../sass/_icons.scss */
[data-icon-drive]:before {
  font-family: 'entypo';
  content: '\1F4FD';
}

/* line 80, ../sass/_icons.scss */
[data-icon-cup]:before {
  font-family: 'entypo';
  content: '\2615';
}

/* line 81, ../sass/_icons.scss */
[data-icon-rocket]:before {
  font-family: 'entypo';
  content: '\1F680';
}

/* line 82, ../sass/_icons.scss */
[data-icon-brush]:before {
  font-family: 'entypo';
  content: '\E79A';
}

/* line 83, ../sass/_icons.scss */
[data-icon-suitcase]:before {
  font-family: 'entypo';
  content: '\1F6C6';
}

/* line 84, ../sass/_icons.scss */
[data-icon-traffic-cone]:before {
  font-family: 'entypo';
  content: '\1F6C8';
}

/* line 85, ../sass/_icons.scss */
[data-icon-globe]:before {
  font-family: 'entypo';
  content: '\1F30E';
}

/* line 86, ../sass/_icons.scss */
[data-icon-keyboard]:before {
  font-family: 'entypo';
  content: '\2328';
}

/* line 87, ../sass/_icons.scss */
[data-icon-browser]:before {
  font-family: 'entypo';
  content: '\E74E';
}

/* line 88, ../sass/_icons.scss */
[data-icon-publish]:before {
  font-family: 'entypo';
  content: '\E74D';
}

/* line 89, ../sass/_icons.scss */
[data-icon-progress-3]:before {
  font-family: 'entypo';
  content: '\E76B';
}

/* line 90, ../sass/_icons.scss */
[data-icon-progress-2]:before {
  font-family: 'entypo';
  content: '\E76A';
}

/* line 91, ../sass/_icons.scss */
[data-icon-progress-1]:before {
  font-family: 'entypo';
  content: '\E769';
}

/* line 92, ../sass/_icons.scss */
[data-icon-progress-0]:before {
  font-family: 'entypo';
  content: '\E768';
}

/* line 93, ../sass/_icons.scss */
[data-icon-light-down]:before {
  font-family: 'entypo';
  content: '\1F505';
}

/* line 94, ../sass/_icons.scss */
[data-icon-light-up]:before {
  font-family: 'entypo';
  content: '\1F506';
}

/* line 95, ../sass/_icons.scss */
[data-icon-adjust]:before {
  font-family: 'entypo';
  content: '\25D1';
}

/* line 96, ../sass/_icons.scss */
[data-icon-code]:before {
  font-family: 'entypo';
  content: '\E714';
}

/* line 97, ../sass/_icons.scss */
[data-icon-monitor]:before {
  font-family: 'entypo';
  content: '\1F4BB';
}

/* line 98, ../sass/_icons.scss */
[data-icon-infinity]:before {
  font-family: 'entypo';
  content: '\221E';
}

/* line 99, ../sass/_icons.scss */
[data-icon-light-bulb]:before {
  font-family: 'entypo';
  content: '\1F4A1';
}

/* line 100, ../sass/_icons.scss */
[data-icon-credit-card]:before {
  font-family: 'entypo';
  content: '\1F4B3';
}

/* line 101, ../sass/_icons.scss */
[data-icon-database]:before {
  font-family: 'entypo';
  content: '\1F4F8';
}

/* line 102, ../sass/_icons.scss */
[data-icon-voicemail]:before {
  font-family: 'entypo';
  content: '\2707';
}

/* line 103, ../sass/_icons.scss */
[data-icon-clipboard]:before {
  font-family: 'entypo';
  content: '\1F4CB';
}

/* line 104, ../sass/_icons.scss */
[data-icon-cart]:before {
  font-family: 'entypo';
  content: '\E73D';
}

/* line 105, ../sass/_icons.scss */
[data-icon-box]:before {
  font-family: 'entypo';
  content: '\1F4E6';
}

/* line 106, ../sass/_icons.scss */
[data-icon-ticket]:before {
  font-family: 'entypo';
  content: '\1F3AB';
}

/* line 107, ../sass/_icons.scss */
[data-icon-rss]:before {
  font-family: 'entypo';
  content: '\E73A';
}

/* line 108, ../sass/_icons.scss */
[data-icon-signal]:before {
  font-family: 'entypo';
  content: '\1F4F6';
}

/* line 109, ../sass/_icons.scss */
[data-icon-thermometer]:before {
  font-family: 'entypo';
  content: '\1F4FF';
}

/* line 110, ../sass/_icons.scss */
[data-icon-water]:before {
  font-family: 'entypo';
  content: '\1F4A6';
}

/* line 111, ../sass/_icons.scss */
[data-icon-sweden]:before {
  font-family: 'entypo';
  content: '\F601';
}

/* line 112, ../sass/_icons.scss */
[data-icon-line-graph]:before {
  font-family: 'entypo';
  content: '\1F4C8';
}

/* line 113, ../sass/_icons.scss */
[data-icon-pie-chart]:before {
  font-family: 'entypo';
  content: '\25F4';
}

/* line 114, ../sass/_icons.scss */
[data-icon-bar-graph]:before {
  font-family: 'entypo';
  content: '\1F4CA';
}

/* line 115, ../sass/_icons.scss */
[data-icon-area-graph]:before {
  font-family: 'entypo';
  content: '\1F53E';
}

/* line 116, ../sass/_icons.scss */
[data-icon-lock]:before {
  font-family: 'entypo';
  content: '\1F512';
}

/* line 117, ../sass/_icons.scss */
[data-icon-lock-open]:before {
  font-family: 'entypo';
  content: '\1F513';
}

/* line 118, ../sass/_icons.scss */
[data-icon-logout]:before {
  font-family: 'entypo';
  content: '\E741';
}

/* line 119, ../sass/_icons.scss */
[data-icon-login]:before {
  font-family: 'entypo';
  content: '\E740';
}

/* line 120, ../sass/_icons.scss */
[data-icon-check]:before {
  font-family: 'entypo';
  content: '\2713';
}

/* line 121, ../sass/_icons.scss */
[data-icon-cross]:before {
  font-family: 'entypo';
  content: '\274C';
}

/* line 122, ../sass/_icons.scss */
[data-icon-squared-minus]:before {
  font-family: 'entypo';
  content: '\229F';
}

/* line 123, ../sass/_icons.scss */
[data-icon-squared-plus]:before {
  font-family: 'entypo';
  content: '\229E';
}

/* line 124, ../sass/_icons.scss */
[data-icon-squared-cross]:before {
  font-family: 'entypo';
  content: '\274E';
}

/* line 125, ../sass/_icons.scss */
[data-icon-circled-minus]:before {
  font-family: 'entypo';
  content: '\2296';
}

/* line 126, ../sass/_icons.scss */
[data-icon-circled-plus]:before {
  font-family: 'entypo';
  content: '\2295';
}

/* line 127, ../sass/_icons.scss */
[data-icon-circled-cross]:before {
  font-family: 'entypo';
  content: '\2716';
}

/* line 128, ../sass/_icons.scss */
[data-icon-minus]:before {
  font-family: 'entypo';
  content: '\2796';
}

/* line 129, ../sass/_icons.scss */
[data-icon-plus]:before {
  font-family: 'entypo';
  content: '\2795';
}

/* line 130, ../sass/_icons.scss */
[data-icon-erase]:before {
  font-family: 'entypo';
  content: '\232B';
}

/* line 131, ../sass/_icons.scss */
[data-icon-block]:before {
  font-family: 'entypo';
  content: '\1F6AB';
}

/* line 132, ../sass/_icons.scss */
[data-icon-info]:before {
  font-family: 'entypo';
  content: '\2139';
}

/* line 133, ../sass/_icons.scss */
[data-icon-circled-info]:before {
  font-family: 'entypo';
  content: '\E705';
}

/* line 134, ../sass/_icons.scss */
[data-icon-help]:before {
  font-family: 'entypo';
  content: '\2753';
}

/* line 135, ../sass/_icons.scss */
[data-icon-circled-help]:before {
  font-family: 'entypo';
  content: '\E704';
}

/* line 136, ../sass/_icons.scss */
[data-icon-warning]:before {
  font-family: 'entypo';
  content: '\26A0';
}

/* line 137, ../sass/_icons.scss */
[data-icon-cycle]:before {
  font-family: 'entypo';
  content: '\1F504';
}

/* line 138, ../sass/_icons.scss */
[data-icon-cw]:before {
  font-family: 'entypo';
  content: '\27F3';
}

/* line 139, ../sass/_icons.scss */
[data-icon-ccw]:before {
  font-family: 'entypo';
  content: '\27F2';
}

/* line 140, ../sass/_icons.scss */
[data-icon-shuffle]:before {
  font-family: 'entypo';
  content: '\1F500';
}

/* line 141, ../sass/_icons.scss */
[data-icon-back]:before {
  font-family: 'entypo';
  content: '\1F519';
}

/* line 142, ../sass/_icons.scss */
[data-icon-level-down]:before {
  font-family: 'entypo';
  content: '\21B3';
}

/* line 143, ../sass/_icons.scss */
[data-icon-retweet]:before {
  font-family: 'entypo';
  content: '\E717';
}

/* line 144, ../sass/_icons.scss */
[data-icon-loop]:before {
  font-family: 'entypo';
  content: '\1F501';
}

/* line 145, ../sass/_icons.scss */
[data-icon-back-in-time]:before {
  font-family: 'entypo';
  content: '\E771';
}

/* line 146, ../sass/_icons.scss */
[data-icon-level-up]:before {
  font-family: 'entypo';
  content: '\21B0';
}

/* line 147, ../sass/_icons.scss */
[data-icon-switch]:before {
  font-family: 'entypo';
  content: '\21C6';
}

/* line 148, ../sass/_icons.scss */
[data-icon-numbered-list]:before {
  font-family: 'entypo';
  content: '\E005';
}

/* line 149, ../sass/_icons.scss */
[data-icon-add-to-list]:before {
  font-family: 'entypo';
  content: '\E003';
}

/* line 150, ../sass/_icons.scss */
[data-icon-layout]:before {
  font-family: 'entypo';
  content: '\268F';
}

/* line 151, ../sass/_icons.scss */
[data-icon-list]:before {
  font-family: 'entypo';
  content: '\2630';
}

/* line 152, ../sass/_icons.scss */
[data-icon-text-doc]:before {
  font-family: 'entypo';
  content: '\1F4C4';
}

/* line 153, ../sass/_icons.scss */
[data-icon-text-doc-inverted]:before {
  font-family: 'entypo';
  content: '\E731';
}

/* line 154, ../sass/_icons.scss */
[data-icon-doc]:before {
  font-family: 'entypo';
  content: '\E730';
}

/* line 155, ../sass/_icons.scss */
[data-icon-docs]:before {
  font-family: 'entypo';
  content: '\E736';
}

/* line 156, ../sass/_icons.scss */
[data-icon-landscape-doc]:before {
  font-family: 'entypo';
  content: '\E737';
}

/* line 157, ../sass/_icons.scss */
[data-icon-picture]:before {
  font-family: 'entypo';
  content: '\1F304';
}

/* line 158, ../sass/_icons.scss */
[data-icon-video]:before {
  font-family: 'entypo';
  content: '\1F3AC';
}

/* line 159, ../sass/_icons.scss */
[data-icon-music]:before {
  font-family: 'entypo';
  content: '\1F3B5';
}

/* line 160, ../sass/_icons.scss */
[data-icon-folder]:before {
  font-family: 'entypo';
  content: '\1F4C1';
}

/* line 161, ../sass/_icons.scss */
[data-icon-archive]:before {
  font-family: 'entypo';
  content: '\E800';
}

/* line 162, ../sass/_icons.scss */
[data-icon-trash]:before {
  font-family: 'entypo';
  content: '\E729';
}

/* line 163, ../sass/_icons.scss */
[data-icon-upload]:before {
  font-family: 'entypo';
  content: '\1F4E4';
}

/* line 164, ../sass/_icons.scss */
[data-icon-download]:before {
  font-family: 'entypo';
  content: '\1F4E5';
}

/* line 165, ../sass/_icons.scss */
[data-icon-save]:before {
  font-family: 'entypo';
  content: '\1F4BE';
}

/* line 166, ../sass/_icons.scss */
[data-icon-install]:before {
  font-family: 'entypo';
  content: '\E778';
}

/* line 167, ../sass/_icons.scss */
[data-icon-cloud]:before {
  font-family: 'entypo';
  content: '\2601';
}

/* line 168, ../sass/_icons.scss */
[data-icon-upload-cloud]:before {
  font-family: 'entypo';
  content: '\E711';
}

/* line 169, ../sass/_icons.scss */
[data-icon-bookmark]:before {
  font-family: 'entypo';
  content: '\1F516';
}

/* line 170, ../sass/_icons.scss */
[data-icon-bookmarks]:before {
  font-family: 'entypo';
  content: '\1F4D1';
}

/* line 171, ../sass/_icons.scss */
[data-icon-open-book]:before {
  font-family: 'entypo';
  content: '\1F4D6';
}

/* line 172, ../sass/_icons.scss */
[data-icon-play]:before {
  font-family: 'entypo';
  content: '\25B6';
}

/* line 173, ../sass/_icons.scss */
[data-icon-paus]:before {
  font-family: 'entypo';
  content: '\2016';
}

/* line 174, ../sass/_icons.scss */
[data-icon-record]:before {
  font-family: 'entypo';
  content: '\25CF';
}

/* line 175, ../sass/_icons.scss */
[data-icon-stop]:before {
  font-family: 'entypo';
  content: '\25A0';
}

/* line 176, ../sass/_icons.scss */
[data-icon-ff]:before {
  font-family: 'entypo';
  content: '\23E9';
}

/* line 177, ../sass/_icons.scss */
[data-icon-fb]:before {
  font-family: 'entypo';
  content: '\23EA';
}

/* line 178, ../sass/_icons.scss */
[data-icon-to-start]:before {
  font-family: 'entypo';
  content: '\23EE';
}

/* line 179, ../sass/_icons.scss */
[data-icon-to-end]:before {
  font-family: 'entypo';
  content: '\23ED';
}

/* line 180, ../sass/_icons.scss */
[data-icon-resize-full]:before {
  font-family: 'entypo';
  content: '\E744';
}

/* line 181, ../sass/_icons.scss */
[data-icon-resize-small]:before {
  font-family: 'entypo';
  content: '\E746';
}

/* line 182, ../sass/_icons.scss */
[data-icon-volume]:before {
  font-family: 'entypo';
  content: '\23F7';
}

/* line 183, ../sass/_icons.scss */
[data-icon-sound]:before {
  font-family: 'entypo';
  content: '\1F50A';
}

/* line 184, ../sass/_icons.scss */
[data-icon-mute]:before {
  font-family: 'entypo';
  content: '\1F507';
}

/* line 185, ../sass/_icons.scss */
[data-icon-flow-cascade]:before {
  font-family: 'entypo';
  content: '\1F568';
}

/* line 186, ../sass/_icons.scss */
[data-icon-flow-branch]:before {
  font-family: 'entypo';
  content: '\1F569';
}

/* line 187, ../sass/_icons.scss */
[data-icon-flow-tree]:before {
  font-family: 'entypo';
  content: '\1F56A';
}

/* line 188, ../sass/_icons.scss */
[data-icon-flow-line]:before {
  font-family: 'entypo';
  content: '\1F56B';
}

/* line 189, ../sass/_icons.scss */
[data-icon-flow-parallel]:before {
  font-family: 'entypo';
  content: '\1F56C';
}

/* line 190, ../sass/_icons.scss */
[data-icon-left-bold]:before {
  font-family: 'entypo';
  content: '\E4AD';
}

/* line 191, ../sass/_icons.scss */
[data-icon-down-bold]:before {
  font-family: 'entypo';
  content: '\E4B0';
}

/* line 192, ../sass/_icons.scss */
[data-icon-up-bold]:before {
  font-family: 'entypo';
  content: '\E4AF';
}

/* line 193, ../sass/_icons.scss */
[data-icon-right-bold]:before {
  font-family: 'entypo';
  content: '\E4AE';
}

/* line 194, ../sass/_icons.scss */
[data-icon-left]:before {
  font-family: 'entypo';
  content: '\2B05';
}

/* line 195, ../sass/_icons.scss */
[data-icon-down]:before {
  font-family: 'entypo';
  content: '\2B07';
}

/* line 196, ../sass/_icons.scss */
[data-icon-up]:before {
  font-family: 'entypo';
  content: '\2B06';
}

/* line 197, ../sass/_icons.scss */
[data-icon-right]:before {
  font-family: 'entypo';
  content: '\27A1';
}

/* line 198, ../sass/_icons.scss */
[data-icon-circled-left]:before {
  font-family: 'entypo';
  content: '\E759';
}

/* line 199, ../sass/_icons.scss */
[data-icon-circled-down]:before {
  font-family: 'entypo';
  content: '\E758';
}

/* line 200, ../sass/_icons.scss */
[data-icon-circled-up]:before {
  font-family: 'entypo';
  content: '\E75B';
}

/* line 201, ../sass/_icons.scss */
[data-icon-circled-right]:before {
  font-family: 'entypo';
  content: '\E75A';
}

/* line 202, ../sass/_icons.scss */
[data-icon-triangle-left]:before {
  font-family: 'entypo';
  content: '\25C2';
}

/* line 203, ../sass/_icons.scss */
[data-icon-triangle-down]:before {
  font-family: 'entypo';
  content: '\25BE';
}

/* line 204, ../sass/_icons.scss */
[data-icon-triangle-up]:before {
  font-family: 'entypo';
  content: '\25B4';
}

/* line 205, ../sass/_icons.scss */
[data-icon-triangle-right]:before {
  font-family: 'entypo';
  content: '\25B8';
}

/* line 206, ../sass/_icons.scss */
[data-icon-chevron-left]:before {
  font-family: 'entypo';
  content: '\E75D';
}

/* line 207, ../sass/_icons.scss */
[data-icon-chevron-down]:before {
  font-family: 'entypo';
  content: '\E75C';
}

/* line 208, ../sass/_icons.scss */
[data-icon-chevron-up]:before {
  font-family: 'entypo';
  content: '\E75F';
}

/* line 209, ../sass/_icons.scss */
[data-icon-chevron-right]:before {
  font-family: 'entypo';
  content: '\E75E';
}

/* line 210, ../sass/_icons.scss */
[data-icon-chevron-small-left]:before {
  font-family: 'entypo';
  content: '\E761';
}

/* line 211, ../sass/_icons.scss */
[data-icon-chevron-small-down]:before {
  font-family: 'entypo';
  content: '\E760';
}

/* line 212, ../sass/_icons.scss */
[data-icon-chevron-small-up]:before {
  font-family: 'entypo';
  content: '\E763';
}

/* line 213, ../sass/_icons.scss */
[data-icon-chevron-small-right]:before {
  font-family: 'entypo';
  content: '\E762';
}

/* line 214, ../sass/_icons.scss */
[data-icon-chevron-thin-left]:before {
  font-family: 'entypo';
  content: '\E765';
}

/* line 215, ../sass/_icons.scss */
[data-icon-chevron-thin-down]:before {
  font-family: 'entypo';
  content: '\E764';
}

/* line 216, ../sass/_icons.scss */
[data-icon-chevron-thin-up]:before {
  font-family: 'entypo';
  content: '\E767';
}

/* line 217, ../sass/_icons.scss */
[data-icon-chevron-thin-right]:before {
  font-family: 'entypo';
  content: '\E766';
}

/* line 218, ../sass/_icons.scss */
[data-icon-left-thin]:before {
  font-family: 'entypo';
  content: '\2190';
}

/* line 219, ../sass/_icons.scss */
[data-icon-down-thin]:before {
  font-family: 'entypo';
  content: '\2193';
}

/* line 220, ../sass/_icons.scss */
[data-icon-up-thin]:before {
  font-family: 'entypo';
  content: '\2191';
}

/* line 221, ../sass/_icons.scss */
[data-icon-right-thin]:before {
  font-family: 'entypo';
  content: '\2192';
}

/* line 222, ../sass/_icons.scss */
[data-icon-arrow-combo]:before {
  font-family: 'entypo';
  content: '\E74F';
}

/* line 223, ../sass/_icons.scss */
[data-icon-three-dots]:before {
  font-family: 'entypo';
  content: '\23F6';
}

/* line 224, ../sass/_icons.scss */
[data-icon-two-dots]:before {
  font-family: 'entypo';
  content: '\23F5';
}

/* line 225, ../sass/_icons.scss */
[data-icon-dot]:before {
  font-family: 'entypo';
  content: '\23F4';
}

/* line 226, ../sass/_icons.scss */
[data-icon-cc]:before {
  font-family: 'entypo';
  content: '\1F545';
}

/* line 227, ../sass/_icons.scss */
[data-icon-cc-by]:before {
  font-family: 'entypo';
  content: '\1F546';
}

/* line 228, ../sass/_icons.scss */
[data-icon-cc-nc]:before {
  font-family: 'entypo';
  content: '\1F547';
}

/* line 229, ../sass/_icons.scss */
[data-icon-cc-nc-eu]:before {
  font-family: 'entypo';
  content: '\1F548';
}

/* line 230, ../sass/_icons.scss */
[data-icon-cc-nc-jp]:before {
  font-family: 'entypo';
  content: '\1F549';
}

/* line 231, ../sass/_icons.scss */
[data-icon-cc-sa]:before {
  font-family: 'entypo';
  content: '\1F54A';
}

/* line 232, ../sass/_icons.scss */
[data-icon-cc-nd]:before {
  font-family: 'entypo';
  content: '\1F54B';
}

/* line 233, ../sass/_icons.scss */
[data-icon-cc-pd]:before {
  font-family: 'entypo';
  content: '\1F54C';
}

/* line 234, ../sass/_icons.scss */
[data-icon-cc-zero]:before {
  font-family: 'entypo';
  content: '\1F54D';
}

/* line 235, ../sass/_icons.scss */
[data-icon-cc-share]:before {
  font-family: 'entypo';
  content: '\1F54E';
}

/* line 236, ../sass/_icons.scss */
[data-icon-cc-remix]:before {
  font-family: 'entypo';
  content: '\1F54F';
}

/* line 237, ../sass/_icons.scss */
[data-icon-db-logo]:before {
  font-family: 'entypo';
  content: '\1F5F9';
}

/* line 238, ../sass/_icons.scss */
[data-icon-db-shape]:before {
  font-family: 'entypo';
  content: '\1F5FA';
}

/* line 240, ../sass/_icons.scss */
[data-social-icon-github]:before {
  font-family: 'entypo';
  content: '\F300';
}

/* line 241, ../sass/_icons.scss */
[data-social-icon-c-github]:before {
  font-family: 'entypo';
  content: '\F301';
}

/* line 242, ../sass/_icons.scss */
[data-social-icon-flickr]:before {
  font-family: 'entypo';
  content: '\F303';
}

/* line 243, ../sass/_icons.scss */
[data-social-icon-c-flickr]:before {
  font-family: 'entypo';
  content: '\F304';
}

/* line 244, ../sass/_icons.scss */
[data-social-icon-vimeo]:before {
  font-family: 'entypo';
  content: '\F306';
}

/* line 245, ../sass/_icons.scss */
[data-social-icon-c-vimeo]:before {
  font-family: 'entypo';
  content: '\F307';
}

/* line 246, ../sass/_icons.scss */
[data-social-icon-twitter]:before {
  font-family: 'entypo';
  content: '\F309';
}

/* line 247, ../sass/_icons.scss */
[data-social-icon-c-twitter]:before {
  font-family: 'entypo';
  content: '\F30A';
}

/* line 248, ../sass/_icons.scss */
[data-social-icon-facebook]:before {
  font-family: 'entypo';
  content: '\F30C';
}

/* line 249, ../sass/_icons.scss */
[data-social-icon-c-facebook]:before {
  font-family: 'entypo';
  content: '\F30D';
}

/* line 250, ../sass/_icons.scss */
[data-social-icon-s-facebook]:before {
  font-family: 'entypo';
  content: '\F30E';
}

/* line 251, ../sass/_icons.scss */
[data-social-icon-google-plush]:before {
  font-family: 'entypo';
  content: '\F30F';
}

/* line 252, ../sass/_icons.scss */
[data-social-icon-c-google-plush]:before {
  font-family: 'entypo';
  content: '\F310';
}

/* line 253, ../sass/_icons.scss */
[data-social-icon-pinterest]:before {
  font-family: 'entypo';
  content: '\F312';
}

/* line 254, ../sass/_icons.scss */
[data-social-icon-c-pinterest]:before {
  font-family: 'entypo';
  content: '\F313';
}

/* line 255, ../sass/_icons.scss */
[data-social-icon-tumblr]:before {
  font-family: 'entypo';
  content: '\F315';
}

/* line 256, ../sass/_icons.scss */
[data-social-icon-c-tumblr]:before {
  font-family: 'entypo';
  content: '\F316';
}

/* line 257, ../sass/_icons.scss */
[data-social-icon-linkedin]:before {
  font-family: 'entypo';
  content: '\F318';
}

/* line 258, ../sass/_icons.scss */
[data-social-icon-c-linkedin]:before {
  font-family: 'entypo';
  content: '\F319';
}

/* line 259, ../sass/_icons.scss */
[data-social-icon-dribbble]:before {
  font-family: 'entypo';
  content: '\F31B';
}

/* line 260, ../sass/_icons.scss */
[data-social-icon-c-dribbble]:before {
  font-family: 'entypo';
  content: '\F31C';
}

/* line 261, ../sass/_icons.scss */
[data-social-icon-stumbleupon]:before {
  font-family: 'entypo';
  content: '\F31E';
}

/* line 262, ../sass/_icons.scss */
[data-social-icon-c-stumbleupon]:before {
  font-family: 'entypo';
  content: '\F31F';
}

/* line 263, ../sass/_icons.scss */
[data-social-icon-lastfm]:before {
  font-family: 'entypo';
  content: '\F321';
}

/* line 264, ../sass/_icons.scss */
[data-social-icon-c-lastfm]:before {
  font-family: 'entypo';
  content: '\F322';
}

/* line 265, ../sass/_icons.scss */
[data-social-icon-rdio]:before {
  font-family: 'entypo';
  content: '\F324';
}

/* line 266, ../sass/_icons.scss */
[data-social-icon-c-rdio]:before {
  font-family: 'entypo';
  content: '\F325';
}

/* line 267, ../sass/_icons.scss */
[data-social-icon-spotify]:before {
  font-family: 'entypo';
  content: '\F327';
}

/* line 268, ../sass/_icons.scss */
[data-social-icon-c-spotify]:before {
  font-family: 'entypo';
  content: '\F328';
}

/* line 269, ../sass/_icons.scss */
[data-social-icon-qq]:before {
  font-family: 'entypo';
  content: '\F32A';
}

/* line 270, ../sass/_icons.scss */
[data-social-icon-instagram]:before {
  font-family: 'entypo';
  content: '\F32D';
}

/* line 271, ../sass/_icons.scss */
[data-social-icon-dropbox]:before {
  font-family: 'entypo';
  content: '\F330';
}

/* line 272, ../sass/_icons.scss */
[data-social-icon-evernote]:before {
  font-family: 'entypo';
  content: '\F333';
}

/* line 273, ../sass/_icons.scss */
[data-social-icon-flattr]:before {
  font-family: 'entypo';
  content: '\F336';
}

/* line 274, ../sass/_icons.scss */
[data-social-icon-skype]:before {
  font-family: 'entypo';
  content: '\F339';
}

/* line 275, ../sass/_icons.scss */
[data-social-icon-c-skype]:before {
  font-family: 'entypo';
  content: '\F33A';
}

/* line 276, ../sass/_icons.scss */
[data-social-icon-renren]:before {
  font-family: 'entypo';
  content: '\F33C';
}

/* line 277, ../sass/_icons.scss */
[data-social-icon-sina-weibo]:before {
  font-family: 'entypo';
  content: '\F33F';
}

/* line 278, ../sass/_icons.scss */
[data-social-icon-paypal]:before {
  font-family: 'entypo';
  content: '\F342';
}

/* line 279, ../sass/_icons.scss */
[data-social-icon-picasa]:before {
  font-family: 'entypo';
  content: '\F345';
}

/* line 280, ../sass/_icons.scss */
[data-social-icon-soundcloud]:before {
  font-family: 'entypo';
  content: '\F348';
}

/* line 281, ../sass/_icons.scss */
[data-social-icon-mixi]:before {
  font-family: 'entypo';
  content: '\F34B';
}

/* line 282, ../sass/_icons.scss */
[data-social-icon-behance]:before {
  font-family: 'entypo';
  content: '\F34E';
}

/* line 283, ../sass/_icons.scss */
[data-social-icon-google-circles]:before {
  font-family: 'entypo';
  content: '\F351';
}

/* line 284, ../sass/_icons.scss */
[data-social-icon-vk]:before {
  font-family: 'entypo';
  content: '\F354';
}

/* line 285, ../sass/_icons.scss */
[data-social-icon-smashing]:before {
  font-family: 'entypo';
  content: '\F357';
}

/* line 3, ../sass/nav.scss */
nav {
  background-color: #0a325a;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 25%;
  right: -200px;
  z-index: 999;
  width: 200px;
  font-size: 18px;
}
/* line 14, ../sass/nav.scss */
nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/nav.scss */
nav ul li {
  line-height: 50px;
  margin-bottom: 1px;
}
/* line 24, ../sass/nav.scss */
nav ul li a {
  color: white;
  text-decoration: none;
}
/* line 28, ../sass/nav.scss */
nav ul li a:hover {
  color: white;
}
/* line 32, ../sass/nav.scss */
nav ul li a:before {
  font-size: 35px;
  position: relative;
  left: -4px;
  top: 2px;
}
/* line 40, ../sass/nav.scss */
nav ul li:nth-child(even) {
  background-color: #104e8b;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 603px) {
  /* line 49, ../sass/nav.scss */
  nav {
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065) ;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065) ;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065) ;
    padding: 0;
    position: static;
    height: 0;
    background-color: #101010;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-height: 40px;
    width: 100%;
  }
  /* line 63, ../sass/nav.scss */
  nav ul li {
    float: left;
    width: 20%;
    background: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    background-color: inheirt;
  }
  /* line 72, ../sass/nav.scss */
  nav ul li:first-child a {
    border-left: 0 none;
    border-radius: 3px 0 0 3px;
  }
  /* line 77, ../sass/nav.scss */
  nav ul li:last-child a {
    border-radius: 0 3px 3px 0;
    border-right: 0 none;
  }
  /* line 82, ../sass/nav.scss */
  nav ul li:nth-child(even) {
    background: none;
  }
  /* line 86, ../sass/nav.scss */
  nav ul li a {
    border-left: 1px solid rgba(0, 0, 0, 0.75);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 15px 10px;
    color: #104e8b;
    text-decoration: none;
    text-shadow: 0 1px 0 black;
    display: block;
    font-family: script mt bold, script, cursive;
  }
  /* line 96, ../sass/nav.scss */
  nav ul li a:hover {
    color: #104e8b;
  }
}
