/* line 2, ../sass/_registrationDetails.scss */
.registration div.registration-details h3 {
  background-color: #104e8b;
  border-radius: 4px;
  padding: 10px;
  color: white;
}
/* line 8, ../sass/_registrationDetails.scss */
.registration div.registration-details h4 {
  display: inline-block;
  margin: 0;
  width: 150px;
  vertical-align: top;
}
/* line 14, ../sass/_registrationDetails.scss */
.registration div.registration-details ul {
  list-style: none;
  margin: 0 34%;
  padding: 0;
}
/* line 19, ../sass/_registrationDetails.scss */
.registration div.registration-details ul li {
  text-align: left;
}
/* line 22, ../sass/_registrationDetails.scss */
.registration div.registration-details ul li.guests ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* line 29, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo {
  margin: 0 38% 0 34%;
}
/* line 33, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo li.headings {
  margin-bottom: 10px;
}
/* line 36, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo li.headings h4:first-child + h4 + h4 {
  width: auto;
}
/* line 41, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo li.last {
  padding-left: 94px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}
/* line 46, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo li.last h4:first-child {
  width: 150px;
}
/* line 50, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo li.last span {
  width: auto;
}
/* line 55, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo li h4:first-child {
  width: 90px;
}
/* line 59, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo li span {
  display: inline-block;
  width: 150px;
}
/* line 63, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo li span:first-child {
  width: 90px;
}
/* line 67, ../sass/_registrationDetails.scss */
.registration div.registration-details ul.pricingInfo li span + span + span {
  width: auto;
}
/* line 75, ../sass/_registrationDetails.scss */
.registration div.registration-details .confirm {
  font-weight: bold;
  height: 40px;
  margin-top: 20px;
  width: 150px;
}
/* line 82, ../sass/_registrationDetails.scss */
.registration div.registration-details form {
  margin: 20px 0 0;
  padding: 0;
  border-top: 1px dashed #CCCCCC;
  width: 100%;
}
/* line 89, ../sass/_registrationDetails.scss */
.registration div.registration-details fieldset {
  margin: 0;
  padding: 0;
}

/* line 4, ../sass/registration.scss */
.registration {
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) ;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) ;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15) ;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  margin-top: 50px;
}
/* line 11, ../sass/registration.scss */
.registration form {
  margin-left: 5%;
  text-align: left;
  width: 90%;
}
/* line 16, ../sass/registration.scss */
.registration form p {
  margin-left: 15px;
}
/* line 20, ../sass/registration.scss */
.registration form fieldset {
  border: none;
}
/* line 24, ../sass/registration.scss */
.registration form input, .registration form textarea, .registration form label {
  display: block;
  width: 100%;
  color: #555555;
}
/* line 30, ../sass/registration.scss */
.registration form input, .registration form textarea {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  padding: 4px 6px;
}
/* line 36, ../sass/registration.scss */
.registration form input:focus, .registration form textarea:focus {
  border-color: rgba(16, 78, 139, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(16, 78, 139, 0.6);
}
/* line 42, ../sass/registration.scss */
.registration form input {
  height: 20px;
  margin-bottom: 20px;
}
/* line 46, ../sass/registration.scss */
.registration form input.submit {
  background: url("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif") no-repeat scroll 0 0 transparent;
  border: none;
  height: 50px;
  width: 150px;
  cursor: pointer;
  margin-top: 20px;
}
/* line 54, ../sass/registration.scss */
.registration form input.submit:focus {
  border: none;
  box-shadow: none;
}
/* line 61, ../sass/registration.scss */
.registration form label {
  display: inline-block;
  margin: 0 10px 5px 5px;
  font-weight: bold;
  width: auto;
}
/* line 68, ../sass/registration.scss */
.registration form textarea {
  height: 200px;
}
/* line 72, ../sass/registration.scss */
.registration form select {
  color: #555555;
  height: 30px;
  line-height: 30px;
  padding: 6px;
  vertical-align: middle;
}
/* line 80, ../sass/registration.scss */
.registration form output {
  color: #468847;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  margin-right: 20px;
}
/* line 87, ../sass/registration.scss */
.registration form output#total {
  display: inline-block;
  font-size: 30px;
  margin-top: 20px;
  vertical-align: top;
}
/* line 95, ../sass/registration.scss */
.registration form input[type="button"] {
  height: 40px;
  width: auto;
  float: left;
  margin: 20px 10px 5px 0;
}
/* line 101, ../sass/registration.scss */
.registration form input[type="button"]:focus {
  border: none;
  box-shadow: none;
}
/* line 107, ../sass/registration.scss */
.registration form div.csz-fields input, .registration form div.csz-fields label {
  display: inline;
  width: auto;
}
/* line 112, ../sass/registration.scss */
.registration form div.csz-fields input, .registration form div.csz-fields select {
  margin-right: 25px;
  width: 25%;
}
/* line 117, ../sass/registration.scss */
.registration form div.csz-fields label {
  margin: 0 0 5px 5px;
}
/* line 122, ../sass/registration.scss */
.registration form #guests h3 {
  border-top: 1px dashed #CCCCCC;
  color: #555555;
  margin-left: 5px;
  margin-top: 0;
  padding-top: 20px;
}
/* line 131, ../sass/registration.scss */
.registration form #eventInfo p:first-child {
  border-top: 1px dashed #CCCCCC;
  color: #555555;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 25px;
  padding-top: 20px;
}
/* line 140, ../sass/registration.scss */
.registration form #eventInfo label {
  width: 30%;
}
/* line 144, ../sass/registration.scss */
.registration form #eventInfo input {
  display: inline;
  width: auto;
}
/* line 148, ../sass/registration.scss */
.registration form #eventInfo input + span {
  font-weight: bold;
  color: #555555;
  margin: 0 30px;
}
/* line 155, ../sass/registration.scss */
.registration form #eventInfo .totalLabel {
  font-size: 25px;
  margin-left: 32%;
  margin-top: 20px;
  width: 26%;
}
/* line 164, ../sass/registration.scss */
.registration .validation-summary-errors {
  border: 2px solid #B94A48;
  color: #B94A48;
}
/* line 169, ../sass/registration.scss */
.registration .field-validation-error {
  color: #B94A48;
}
/* line 173, ../sass/registration.scss */
.registration .input-validation-error {
  background-color: pink;
  color: #B94A48;
  border-color: #B94A48;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
/* line 178, ../sass/registration.scss */
.registration .input-validation-error:focus {
  border-color: rgba(149, 59, 57, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(149, 59, 57, 0.6);
}
/* line 184, ../sass/registration.scss */
.registration .csz-field-errors {
  margin-bottom: 20px;
}
/* line 186, ../sass/registration.scss */
.registration .csz-field-errors .field-validation-error {
  display: block;
}
/* line 191, ../sass/registration.scss */
.registration p.error {
  border: 2px solid #B94A48;
  color: #B94A48;
}
/* line 195, ../sass/registration.scss */
.registration p.error + div.registration-details > p {
  display: none;
}
/* line 201, ../sass/registration.scss */
.registration p.success + div.registration-details > p {
  display: none;
}
