@media (min-width: 320px) {

	html, body {
	    height: auto;
	    padding: 0;
	    margin: 0;
	    font-family: sans, sans-serif, serif, MS sans, MS serif;
	    overflow-x: hidden;
	    background-color: $or-grey-01;
	    text-align: center;
	    font-size: 16px;
	    line-height: 24px;
	}

	h1 { font-size: 32px; line-height: 47px; margin: 0;}
	h2 { font-size: 28px; line-height: 40px; margin: 0;}
	h3 { font-size: 24px; line-height: 36px; margin: 0;}
	h4 { font-size: 17px; line-height: 32px; margin: 0;}
	h5 { font-size: 17px; line-height: 28px; margin: 0;}
	h6 { font-size: 16px; line-height: 28px; margin: 0;}

	math {
	    display:none;
	}

	ul, ol {
	    margin: 0 0 10px 25px;
	    padding: 0;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	    display: block;
	}
	.page {
	    position: relative;
	    height: 100%;
	}
	.header-content-wrap {
	    margin: 10px auto;
		padding: 0 16px;
	}
	header {
	    color: rgba(0, 0, 0, 0.87);
	}
	img {
		max-width: 100%;

		&.logo {
	    	display: block;
	    	margin: 0 auto;
		}
	}
	.scripture {
	    color: rgba(0, 0, 0, 0.87);
	    font-family: 'Great Vibes',script mt bold, script, cursive;
	    margin-top: 20px;
	    font-size: 20px;
	    line-height: 30px;
	}
}